---
name: CI

on: [push, pull_request]

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          python3 -m pip install setuptools wheel twine
      - name: Build packages
        run: |
          python3 utils/build-dists.py
      - name: Check packages
        run: |
          set -exo pipefail;
          if [ $(python3 -m twine check dist/* | grep -c 'warning') != 0 ]; then exit 1; fi

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          python3 -m pip install nox
      - name: Lint the code
        run: nox -s lint

  type_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python3 -m pip install nox
      - name: Lint the code
        run: nox -s type_check

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          python3 -m pip install nox
      - name: Build the docs
        run: nox -s docs

  test-linux:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [
          "3.8",
          "3.9",
          "3.10",
          "3.11",
          "3.12",
        ]
        es-version: [8.0.0, 8.13.0]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Elasticsearch
        run: |
          mkdir /tmp/elasticsearch
          wget -O - https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${{ matrix.es-version }}-linux-x86_64.tar.gz | tar xz --directory=/tmp/elasticsearch --strip-components=1
          /tmp/elasticsearch/bin/elasticsearch -E xpack.security.enabled=false -E discovery.type=single-node -d
      - name: Setup Python - ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Python for Nox
        if: matrix.python-version != '3.12'
        uses: actions/setup-python@v4
        with:
          python-version: 3
      - name: Install dependencies
        run: |
          python3 -m pip install nox
      - name: Run Tests
        run: |
          nox -rs test-${{ matrix.python-version }}
        env:
          WAIT_FOR_ES: "1"
